.pClass{
    font-size: xx-large;
    color:indigo;
    text-align: center;
}

h1{
    color:green;
     font-size: xx-large;
}
h3{
    color:blue;
     font-size: xx-large;
}
body{
    margin:30px;
}